body {
  display: flex;
  background-color: #515353;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.desk {
  position: absolute;
  height: 90%;
  width: 90%;
  top: 5%;
  border-radius: 10px;
  background-color: #222438;
}

.square {
  position: absolute;
  height: 43%;
  width: 45%;
  border-radius: 5px;
  background-color: #202020;
  z-index: 100;
}

#name {
  left: 3%;
  top: 5%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: 'photo my_id';
}

.photo {
  grid-area: photo;
  padding: 4% 3%;
  justify-content: center;
  justify-items: center;
  text-align: center;
}
.photo img {
  padding: 5%;
  width: 60%;
  border-width: 2px;
  border-radius: 25px;
  transition: 0.5s;
}

.photo img:hover {
  width: 100%;
  transition: 0.5s;
  cursor: pointer;
}

.my_id {
  grid-area: my_id;
  float: right;
  color: rgb(211, 142, 13);
  padding-right: 5%;
  padding-left: 3%;
  padding-bottom: 1%;
  /* width: 90%; */
  text-align: center;
  word-wrap: break-word;
  overflow-y: auto;
}
.my_id p {
  font-size: 130%;
}

#projects {
  left: 52%;
  top: 5%;
  display: flex;
}

.name_projects {
  position: absolute;
  top: 5%;
  left: 30%;
  width: 40%;
  height: 15%;
  border-radius: 5px;
  font-size: 2.3vw;
  text-align: center;
  background-color: aqua;
}

.github {
  position: absolute;
  background-color: antiquewhite;
  width: 80%;
  height: 15%;
  border-radius: 5px;
  top: 25%;
  left: 10%;
  text-align: center;
  font-size: 2.2vw;
}
.github a {
  text-decoration: none;
  align-items: end;
}

.project {
  position: absolute;
  background-color: black;
  height: 40%;
  width: 20%;
  top: 52%;
  border-radius: 7px;
  cursor: pointer;
}

#project_1 {
  left: 5%;
}

#project_2 {
  left: 40%;
}

#project_3 {
  left: 75%;
}

#experience {
  left: 3%;
  top: 52%;
  z-index: 5;
  display: grid;
  grid-template-columns: 10% 30% 20% 30% 10%;
  grid-template-rows: 30% 60% 10%;
  grid-template-areas:
    '. name_edu . name_exp .'
    '. education . experience .'
    '. . . . .';
}

.education {
  background-color: rgb(9, 59, 43);
  grid-area: education;
  border-radius: 10px;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
}

.education:hover {
  background-color: rgb(4, 116, 19);
  box-shadow: 0 0 1em #109431;
}

.education span {
  margin-top: 15%;
  font-size: 600%;
  color: white;
}

.name_edu {
  grid-area: name_edu;
  background-color: antiquewhite;
  /* width: 15%; */
  height: 39%;
  margin-top: 12%;
  text-align: center;
  font-size: 1.6vw;
  border-radius: 5px;
}

.eduContent {
  position: absolute;
  background-color: #109431;
  height: 20%;
  width: 10%;
  border-radius: 10px;
  top: 69%;
  left: 8%;
  opacity: 0%;
  transition: 1.3s;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.fontEdu {
  font-size: 0.05vw !important;
}

.showEdu {
  position: absolute;
  background-color: #109431;
  height: 88%;
  width: 43%;
  z-index: 1000;
  top: 6%;
  left: 53%;
  border-radius: 10px;
  opacity: 1;
  transition: 1.3s;
}

.eduContent .contentEducation p4 ul li a {
  text-decoration: none;
  color: black;
}

.eduContent .contentEducation p1 {
  font-size: 2vw;
  text-decoration: underline;
}

.eduContent .contentEducation p2 ul {
  line-height: 1.3;
}

.eduContent .contentEducation p3 {
  font-size: 2vw;
  text-decoration: underline;
}

.eduContent .contentEducation p4 ul {
  line-height: 1.4;
}

.closeWindow {
  position: absolute;
  height: 7%;
  width: 7%;
  top: 1%;
  left: 96%;
  cursor: pointer;
}

.experience {
  background-color: rgb(42, 7, 97);
  grid-area: experience;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
}

.experience:hover {
  background-color: rgb(34, 130, 185);
  box-shadow: 0 0 1em #0469a3;
}

.experience span {
  margin-top: 15%;
  font-size: 600%;
  color: white;
}

.name_exp {
  grid-area: name_exp;
  background-color: antiquewhite;
  /* width: 15%; */
  height: 39%;
  margin-top: 12%;
  text-align: center;
  font-size: 1.6vw;
  border-radius: 5px;
  overflow-x: hidden;
}

.expContent {
  position: absolute;
  background-color: #0c73b8;
  height: 20%;
  width: 10%;
  border-radius: 10px;
  top: 69%;
  left: 31%;
  opacity: 0%;
  transition: 1.2s;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.showExp {
  position: absolute;
  background-color: #0c73b8;
  height: 88%;
  width: 43%;
  z-index: 1000;
  top: 6%;
  left: 53%;
  border-radius: 10px;
  opacity: 1;
  transition: 1s;
}

.contentExperience {
  margin-right: 5%;
  margin-top: 1%;
}

.expContent .contentExperience p1 {
  font-size: 1.4vw;
  text-decoration: underline;
}

.expContent .contentExperience p2 ul {
  line-height: 1.3;
}

.expContent .contentExperience p3 {
  font-size: 1.4vw;
  text-decoration: underline;
}

.expContent .contentExperience p4 ul {
  line-height: 1.3;
}

#contact {
  left: 52%;
  top: 52%;
  display: flex;
}

ion-icon {
  pointer-events: none;
}

.name_con {
  position: absolute;
  top: 3%;
  left: 30%;
  text-align: center;
  width: 40%;
  height: 15%;
  background-color: darkcyan;
  border-radius: 10px;
  font-size: 2.2vw;
}

.place {
  width: 18%;
  height: 36%;
  background-color: cornflowerblue;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
}

.place:hover {
  background-color: rgb(20, 94, 231);
  box-shadow: 0 0 1em #109431;
}

#mail:hover {
  background-color: rgb(20, 94, 231);
  box-shadow: 0 0 0.17em #109431;
}

.placeContentMail {
  position: absolute;
  background-color: #0c57b8;
  height: 10%;
  width: 5%;
  top: 66%;
  left: 55%;
  /* height: 4%;
  width: 13%;
  top: 54.5%;
  left: 68%; */
  border-radius: 10px;
  opacity: 0%;
  transition: 1s;
  z-index: 0;
}

.placeContentMail a {
  text-decoration: none;
  color: black;
}

.placeContentPhone {
  position: absolute;
  background-color: #0c57b8;
  height: 10%;
  width: 5%;
  top: 80%;
  left: 66%;
  /* height: 4%;
  width: 13%;
  top: 54.5%;
  left: 68%; */
  border-radius: 10px;
  opacity: 0%;
  transition: 1s;
  z-index: 0;
}

.placeContentPhone a {
  text-decoration: none;
  color: black;
}

.showPlacePhone {
  position: absolute;
  background-color: #0c57b8;
  height: 5%;
  width: 10vw;
  z-index: 1000;
  top: 70%;
  left: 63.5%;
  border-radius: 10px;
  opacity: 1;
  transition: 1s;
}

.showPlacePhone a {
  position: absolute;
  text-decoration: none;
  top: 5%;
  left: 0.75vw;
  color: black;
  font-size: 1.9vw;
}

.showPlaceMail {
  position: absolute;
  background-color: #0c57b8;
  height: 5%;
  width: 20%;
  z-index: 1000;
  top: 55%;
  left: 49%;
  border-radius: 10px;
  opacity: 1;
  transition: 1s;
}

.showPlaceMail a {
  position: absolute;
  text-decoration: none;
  top: 20%;
  left: 2vw;
  color: black;
  font-size: 1.3vw;
}

.iconMail {
  position: absolute;
  top: 15%;
  left: 5%;
}

.iconMail span {
  color: white;
  font-size: 6vw;
}

.textMyMail {
  position: absolute;
  font-size: 2vw;
}

#mail {
  position: absolute;
  top: 23%;
  left: 5%;
  font-size: 6vw;
}

#mail span {
  position: absolute;
  color: white;
  font-size: 6vw;
  top: 5.5%;
  left: 0.68vw;
}
#phone {
  position: absolute;
  top: 55%;
  left: 29%;
}

#phone span {
  position: absolute;
  color: white;
  font-size: 6vw;
  top: 5.5%;
  left: 0.68vw;
}

.active {
  width: 150%;
  /* background-color: aqua; */
}

#git {
  position: absolute;
  top: 23%;
  left: 53%;
}

#git ion-icon {
  position: absolute;
  color: white;
  font-size: 6vw;
  top: 5.5%;
  left: 0.68vw;
}

#ig {
  position: absolute;
  top: 55%;
  left: 77%;
}

#ig ion-icon {
  position: absolute;
  color: white;
  font-size: 6vw;
  top: 5.5%;
  left: 0.68vw;
}

@media only screen and (max-width: 1000px) {
  /* .my_id p {
    font-size: 70%;
  } */
  /* .my_id p {
    font-size: 2vh;
  } */
  .education span {
    margin-top: 45%;
    font-size: 350%;
  }
  .experience span {
    margin-top: 45%;
    font-size: 350%;
  }
  .name_edu {
    font-size: 90%;
  }
  .name_exp {
    font-size: 80%;
  }
}
